################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/pdv-service/src/PdvService.Test.Unidade.Domain/Properties/PublishProfiles/FolderProfile.pubxml
